<app-remote (channelChanged) ="switchChannel($event)"></app-remote>
<div [ngSwitch]=activeChannel >
  <iframe *ngSwitchCase="1" class="tv-screen" src="https://www.youtube.com/embed/-gLlhmoz8i8" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="2" class="tv-screen" src="https://www.youtube.com/embed/fYGExUSIbFY" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="3" class="tv-screen" src="https://www.youtube.com/embed/KmXnEHGXMac" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="4" class="tv-screen" src="https://youtube.com/embed/pugANus-a1M" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="5" class="tv-screen" src="https://www.youtube.com/embed/jD4Ds6f_6wo" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="6" class="tv-screen" src="https://youtube.com/embed/CRve_L8-RHA" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="7" class="tv-screen" src="https://www.youtube.com/embed/7e1aF4DfSS8"  width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="8" class="tv-screen" src="https://www.youtube.com/embed/d1svxUhBiq8"  width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="9" class="tv-screen" src="https://www.youtube.com/embed/XI0nJFtrfV0"  width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="10" class="tv-screen" src="https://www.youtube.com/embed/RehQ6Ru-aS4" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="11" class="tv-screen" src="https://www.youtube.com/embed/M-y_BulIY54" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="12" class="tv-screen" src="https://www.youtube.com/embed/Cp3nIhf2tfk" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="13" class="tv-screen" src="https://www.youtube.com/embed/2K-cYvBQljQ" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="14" class="tv-screen" src="https://www.youtube.com/embed/kyK7gra_IUc" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="15" class="tv-screen" src="https://www.youtube.com/embed/qRcmhimNNKM" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="16" class="tv-screen" src="https://www.youtube.com/embed/jLUBeXtP8Yw" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="17" class="tv-screen" src="https://www.youtube.com/embed/v2peoyaNRkw" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="18" class="tv-screen" src="https://www.youtube.com/embed/E-RC22F6z_U" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="19" class="tv-screen" src="https://www.youtube.com/embed/ieGnHENE7JQ" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="20" class="tv-screen" src="https://www.youtube.com/embed/yFErn63xqXE" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="21" class="tv-screen" src="https://www.youtube.com/embed/IMoYxz3avF0" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="22" class="tv-screen" src="https://www.youtube.com/embed/-iXERy3FGmE" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="23" class="tv-screen" src="https://www.youtube.com/embed/_H9UlnCZtS4" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="24" class="tv-screen" src="https://www.youtube.com/embed/LWvTeIcuto8" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="25" class="tv-screen" src="https://www.youtube.com/embed/RFHiLJVBP1g" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="26" class="tv-screen" src="https://www.youtube.com/embed/4B3dpeOxMz0" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="27" class="tv-screen" src="https://www.youtube.com/embed/LyQ75Oxx9hM" width = "854" height = "480"  frameborder="0"></iframe>
  <iframe *ngSwitchCase="28" class="tv-screen" src="https://www.youtube.com/embed/bxdKsMg1feg?list=TLPQMjgwNjIwMjAgxk6aVcEq9A" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="29" class="tv-screen" src="https://www.youtube.com/embed/xODHhBj_P_M" width = "854" height = "480" frameborder="0"></iframe>
  <iframe *ngSwitchCase="30" class="tv-screen" src="https://www.youtube.com/embed/8TksuZylUd0&autoplay=1" width = "854" height = "480" frameborder="0"></iframe>
</div>
